.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 24px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #e7e3e3;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.responsive-calendar .day.active a {
  background-color: #dddddd;
  color: #060000;
  border-bottom: 1px solid #606060;
  border-top: 1px solid #606060;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
}
.responsive-calendar .day.active a:hover {
  background-color: #979494;
}
.responsive-calendar .day.active .not-current {
  background-color: #bebebe;
  color: #000000;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #000000;
}
/* dani izvan mjeseca */
.responsive-calendar .day.not-current a {
  color: rgb(217, 217, 217);
}
.responsive-calendar .day .badge {
  position: absolute;
  font-size: 24px;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.responsive-calendar {
  position: relative;
}

/* .not-current .day.active {
  background-color: #dddddd;
} */

.today {
  border-bottom: 1.5px solid #ed0909;
  border-top: 1.5px solid #ed0909;
  border-left: 1.5px solid #ed0909;
  border-right: 1.5px solid #ed0909;
}

.btn {
  border: 1px solid #393939;
  padding: 6px 24px;
  background-color: #000000;
}
.btn:hover {
  border: 1px solid #ffffff;
  background-color: #b3b3b3;
  transition: 0.6s ease-in;
}

.day-headers {
  color: #000000;
}

/* notification */
.container-item {
  border-bottom: 1px solid #dcdcdc;
  padding: 0px 40px;
  margin-bottom: 70px;
  margin-top: 30px;
}

.warning {
  color: #d34747;
}
.notificationList {
  font-size: 40px;
  margin-top: 10;
  margin-bottom: 5;
  font-weight: 100;
  font-style: oblique;
}
.notificationList:hover {
  color: #686666;
  transition: 0.3s ease-in;
}

.notificaticationHead {
  display: block;
  border-bottom: 1px solid #000000;
}

.notificaticationHead ul {
  margin: 0;
  padding: 0;
  /* position: absolute; */
  left: 0%;
  top: 2%;
}

.notificaticationHead ul li {
  display: inline-block;
  margin-left: 30px;
}

.notificaticationHead ul li a {
  color: #000000;
  text-decoration: none;
}

.addIcon {
  height: 30px;
  width: 30px;
}

h2 {
  font-size: 35px;
  margin: 0;
}

h3 {
  font-size: 14px;
  color: #696969;
  font-weight: 100;
  font-style: italic;
}
p {
  font-size: 18px;
  color: #666;
}

.navbar-dark {
  width: 100%;
  height: 80px;
  background-color: #030303;
  /* box-shadow: 0px 0px 10px #f8f8f7; */
  border-bottom: 1px solid #ffffff;
}

.container-notifications {
  color: #000000;
  padding: 0px 40px;
  margin-top: 70px;
}
.container {
  margin-top: 60px;
  margin-bottom: 70px;
}
.section-landing {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
}
/* 
btn create */
.btnCreate {
  font-weight: 100;
  font-style: italic;
  padding: 8px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a8a7a7;
}
.btnCreate:hover {
  background-color: #888888;
  color: #ffffff;
  transition: 0.6s ease-in;
}
/* CREATING NOTIFICATION */
.center {
  text-align: center;
}
input,
textarea {
  width: 400px;
  margin: 20px 0px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px;
  font-size: 18px;
  color: #666;
}
textarea {
  height: 350px;
  resize: none;
}

input {
  height: 50px;
}

::placeholder {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
}
.btnAdd {
  width: 200px;
  padding: 8px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}
.btnAdd:hover {
  border: 1px solid #ffffff;
  background-color: #b3b3b3;
  color: #ffffff;
  transition: 0.6s ease-in;
}

/* //for invalid feedback */
.invalidFeedback {
  color: #ff0000;
  display: block;
}

/* btn update */
.btnUpdate {
  /* width: 150px; */
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b5b5b5;
  float: right;
  font-weight: 100;
  font-style: italic;
}

.btnUpdate:hover {
  /* border: 1px solid #ffffff; */
  background-color: #646262;
  color: #ffffff;
  transition: 0.6s ease-in;
}

/* btn delete */
.btnDelete {
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fefefe;
  background-color: #e49595;
  float: right;
  font-weight: 100;
  font-style: italic;
  margin: 0px 20px;
  width: 90;
  height: 40;
}

.btnDelete:hover {
  background-color: #972f2f;
  color: #ffffff;
  transition: 0.6s ease-in;
}

.footer {
  margin-top: 200px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.noNotification {
  font-size: 25px;
  display: inline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 500px;
}
